
@tailwind base;
@tailwind components;
@tailwind utilities;

.plus-jakarta sans {
    font-family: Plus Jakarta Sans, sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }